---
import Layout from "../layouts/Layout.astro";
import WorksItem from "../components/WorksItem";
import { loadWorks } from "../utils/loadWorks";
import { loadMarkdown } from "../utils/loadMarkdown";

const works = await loadWorks();
const selectedWorks = works.filter((work) => work.Select === "TRUE");
const profileHTML = await loadMarkdown("profile");
const experiencesHTML = await loadMarkdown("experiences");
---

<Layout>
  <section class="profile">
    <div set:html={profileHTML} />
  </section>

  <section class="works">
    <h2>é¸é›†</h2>
    <ul>
      {
        selectedWorks.map((work) => (
          <WorksItem
            client:load
            name={work.Name}
            url={work.URL}
            articleURL={work["Article URL"]}
            repositoryURL={work["Repository URL"]}
            presentationURL={work["Presentation URL"]}
            tags={work.Tags?.split(",") || []}
            year={parseInt(work.Date?.substring(0, 4))}
            deprecated={work.Deprecated === "TRUE"}
          />
        ))
      }
    </ul>
    <a href="/works">
      â” ã™ã¹ã¦ã®ä½œå“ã‚’è¦‹ã‚‹ ({works.length})
    </a>
  </section>

  <section class="experiences">
    <h2>è·å‹™çµŒæ­´</h2>
    <div set:html={experiencesHTML} />
  </section>

  <section class="links">
    <h2>ãƒªãƒ³ã‚¯</h2>
    <ul>
      <li>
        ãƒ–ãƒ­ã‚°:{" "}
        <a href="https://motemen.hatenablog.com/">è©©ã¨å‰µä½œãƒ»æ€ç´¢ã®ã²ã‚ã°</a>
      </li>
      <li>
        GitHub: <a href="https://github.com/motemen">@motemen</a>
        <ul>
          <li>
            ä¸€éƒ¨ã®ã‚³ãƒ¼ãƒ‰ã¯{" "}
            <a href="https://github.com/x-motemen">x-motemen</a> ã«å§”è­²ã€‚
          </li>
        </ul>
      </li>
      <li>
        Bluesky:{" "}
        <a href="https://bsky.app/profile/motemen.works">@motemen.works</a>
      </li>
      <li>
        ğ•: <a href="https://twitter.com/motemen">@motemen</a>
      </li>
      <li>
        Fediverse:{" "}
        <a href="https://pub.motemen.works">@motemen@pub.motemen.works</a>
      </li>
      <li>
        ãƒ¡ãƒ¼ãƒ«: <a href="mailto:motemen@gmail.com">motemen@gmail.com</a>
      </li>
    </ul>
  </section>
</Layout>

<style>
  .profile {
    margin-bottom: 2rem;
  }

  .works ul {
    list-style: none;
    padding: 0;
  }

  .works li {
    margin-bottom: 1rem;
    padding-left: 0;
  }

  .works li.deprecated {
    opacity: 0.6;
  }

  .other-links {
    margin-left: 0.5rem;
    font-size: 0.8em;
  }

  .meta {
    font-size: 0.8rem;
    color: #666;
  }

  .year {
    display: inline-block;
    width: 3em;
  }

  .tag {
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.1em 0.3em;
    background: #f0f0f0;
    border-radius: 3px;
    font-size: 0.9em;
  }

  .links ul {
    padding-left: 1.5rem;
  }
</style>
